section{

  form{

    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{

      input{
        width: 22rem;
      }
    }
  }
}
